/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.poppins-500 {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 500;
}

.open-sans-500 {
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 500;
}
