mat-slider {
  width: 300px;
}

.result {
  margin: 20px 0;
  color: white;
}

.align-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-value {
  width: 150px
}
